<a href="https://colab.research.google.com/github/Pratyush0210/Unmessenger_internship/blob/main/Pratyush_Kumar_Garg_Unmessenger_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSINGMENT 1**
---
## **Submitted by:-** 

> ## <font color='Blue'>**Pratyush Kumar Garg**</font>



## **ASSIGNMENT-1**
### **Web Scraping Project Idea Quotes to Scrape**
> This is the Sample website to use your Scrapping Skills to scrape Name, Quotes and the Tags.

> This project is based on the Internship class in which Web scrapping was discussed.
### **Project Idea:**

> Scrape the data out of the website and save the data either in the CSV or Excel file. Also use the Pandas library to use the scrapped data into a DataFrame.

> Use this [WEBSITE](http://quotes.toscrape.com/page/1/).

In [31]:
import numpy as np
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [32]:

def scrape_all_pages(n, q, t):
    for page in range(1,11):

        url = f'http://quotes.toscrape.com/page/{page}/'
        response = requests.get(url)

        soup = BeautifulSoup(response.text, "lxml")
        div = soup.find_all("div", class_ = "quote")

        for k in range(len(div)):
            span = div[k].find_all("span")

            q.append(span[0].text)

            n.append(span[1].text.split('\n')[0][3:])

            div_tag = div[k].find_all("div")

            tags = div_tag[0].find_all('a')

            t.append(",".join([i.text for i in tags]))
    return n, q, t

In [34]:
def convert_to_dict(a, b, c):
    Quotes_to_Scrape = {
            'Name': a,
            'Quotes': b,
            'Tags': c
    }
    return Quotes_to_Scrape

In [35]:
if __name__ == '__main__':
    name, quotation, Tags_lol = [], [], []

    N, Q, T = scrape_all_pages(name, quotation, Tags_lol)

    result_dict = convert_to_dict(N, Q, T)
    df = pd.DataFrame(result_dict)

    df.to_csv("QuotestoScrape_Pratyush_Garg.csv")

In [36]:
df.head()

,Name,Quotes,Tags
0,Albert Einstein,“The world as we have created it is a process ...,"change,deep-thoughts,thinking,world"
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","abilities,choices"
2,Albert Einstein,“There are only two ways to live your life. On...,"inspirational,life,live,miracle,miracles"
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","aliteracy,books,classic,humor"
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","be-yourself,inspirational"